google-genai
huggingface-hub
evaluate
seqeval
datasets
kagglehub
fastapi
uvicorn
numpy<2
pandas
scikit-learn
transformers
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
pytesseract
pillow
pdf2image
mlflow
python-dotenv
loguru
